
@using FundRaiser_Team1.Models
@{
    ViewData["Title"] = "Sign Up";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Create">
     <div class="form-group">
        <label for="inputUser">User</label>
        <br/>
        <select name="Category" placeholder="Category" asp-items="@(Html.GetEnumSelectList<Category>())" style="width:100%"></select>
    </div>
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text"  name="FirstName" class="form-control" id="inputFirstName" placeholder="First Name"/>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" name="LastName"class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="Email">E-mail</label>
        <input type="email" name="Email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" name="Password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" style="width:100%">Sign up</button>
</form>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignIn">Sign In</a>