@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{  
}

@using FundRaiser_Team1.Models
@model FundRaiser_Team1_Mvc.Models.ProjectWithImage

<h1>Create your project</h1>

<form asp-action="CreateProject" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title:</label>
        <input type="text" class="form-control" name="Project.Title" placeholder="Enter project title">
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <textarea class="form-control" name="Project.Description" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="Packages">Packages:</label>
        <div class="d-flex justify-content-center">
            <input type="text" class="form-control" name="Project.Package" placeholder="Package 1">
            <input type="text" class="form-control" name="Project.Package" placeholder="Package 2">
            <input type="text" class="form-control" name="Project.Package" placeholder="Package 3">
        </div>
    </div>
    <div class="form-group">
        <label for="Status">Status:</label>
        <input type="text" class="form-control" name="Project.StatusPost" placeholder="Status">
    </div>
    <div class="form-group">
        <label for="ProjectImage">Project Image:</label><br />
        <input type="file" class="form-control-file" name="ProjectImage">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>