@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Funding Page";
}
@model List<FundRaiser_Team1.Models.Project>
@using FundRaiser_Team1.Services

<h1>Funding Dashboard</h1>
<div class="mb-4"></div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">No. of Backers</th>
      <th scope="col">Total Funds (€)</th>
    </tr>
  </thead>
  <tbody>
   @foreach (var project in Model)
{
    <tr>
      <th scope="row">1</th>
      <td>@project.Title</td>
                @{
                    var NumberOfFunders = ProjectService.GetFunders(project.Id);
                }
                <td>@NumberOfFunders</td>
      <td>3524</td>
    </tr>
}
  </tbody>
</table>