@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Funding Page";
}
@model List<FundRaiser_Team1_Mvc.Models.FundingPage>

<h1>Funding Dashboard</h1>
<div class="mb-4"></div>

<table class="table table-striped text-white">
  <thead class="thead-light rounded">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Project Name</th>
      <th scope="col">No. of Backers</th>
      <th scope="col">Total Funds (€)</th>
    </tr>
  </thead>
  <tbody>
        @{
            var i = 0;
        }
        @foreach (var project in Model)
        {    
 
            i++;
            <tr>
              <th scope="row">@i</th>
              <td>@project.project.Title</td>
              <td>@project.FundersCount</td>
              <td>@project.Money</td>
            </tr>
         }
  </tbody>
</table>