@model FundRaiser_Team1.Models.Project

<h1> Projects </h1>

<ul>
    <li><b>Title:</b> @Model.Title</li>
    <li><b>Description: </b>@Model.Description</li>
    <li><b>Status:</b> @Model.StatusPost</li>
</ul>