@{
    ViewData["Title"] = "Backer's Sign In";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" style="width:100%">Sign in</button>
</form>