@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FundRaiser - Crowdfund</h1>
   

</div>
<!--<script type="text/javascript">
    let x = document.cookie;
    console.log(Cookie.get('userId'));
</script>-->
