@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Create your Package</h1>

<form asp-action="Create">
    <div class="form-group">
        <label for="Packages">Packages:</label>
        <div class="d-flex justify-content-center">
            <input type="text" class="form-control" name="PackageName" placeholder="Package Name">
        </div>
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <textarea class="form-control" name="Description" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="Price">Price:</label>
        <input type="number" name="PackagePrice" min = "0">
    </div>
    <input type="number" id="projectId" name="ProjectId">
    <button type="submit" class="btn btn-primary">Create Package</button>
</form>
<script>
   let link = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)

   let projectId = document.getElementById('projectId')
   projectId.value = parseInt(link)
</script>